@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
  --primary-color: #612674;
  --default-gap: 1rem;
}

html {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70.25em;
}

.cabecalho_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--primary-color);
  width: 100%;
}

.cabecalho_nav_link {
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.cabecalho_nav_link:hover {
  background-color: color-mix(in srgb, var(--primary-color), white 10%)
}

.heroBanner {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1em;
  margin: 0;
}

.heroBanner_iconPlay {
  height: 5em;
  width: 5em;
  display: none;
}

.heroBanner_iconPlay img {
  width: 100%;
}

.heroBanner_title {
  color: var(--primary-color);
  font-size: 1.5em;
  margin: 1em 0;
}

.heroBanner_subtitle {
  font-size: 1em;
  color: color-mix(in srgb, var(--primary-color), white);
  line-height: 1.5em;
}

.heroBanner_btn {
  display: inline-block;
  padding: .9em 2em;
  background-color: #58c4c4;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.middleContent {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2em;
}

.middleContent a {
  color: inherit;
  text-decoration: none;
}

.middleContent_title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.25em;
}

.middleContent span[class^="icon-"] {
  color: var(--primary-color);
  font-size: 3.5em;
}

.middleContent p {
  line-height: 1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.col {
  flex: 1 0 auto;
  width: 100%;
}

.col-sm-12 {
  width: 100%;
}

.mainContent {
  padding: 2em;
}

.mainContent p {
  line-height: 1.2;
}

.mainContent_title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: normal;
  letter-spacing: .2em;
  font-size: 1.25em;
}

.mainContent .row {
  row-gap: 4em;
}

.mainContent_img img{
  width: 100%;
}

.mainContent_article {
  container: main-content / inline-size;
}

.rodape {
  text-align: center;
  background-color: #25303e;
  color: #83969f;
  padding: 1em;
}

.rodape_title {
  font-size: 1em;
  margin-top: 0rem;
}

.rodape_text {
  font-size: .8em;
}

@container main-content (min-width: 500px) {
  .mainContent_container {
    display: flex;
    gap: var(--default-gap);
  }

  .mainContent_title {
    margin-top: 0;
  }

  .mainContent_img img {
    max-height: 382px;
  }

}

/* md */
@media screen and (min-width: 48.75em) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
  }

  .cabecalho_nav {
    flex-direction: row;
    background-color: initial;
    align-self: flex-end;
    width: initial;
    margin-top: 0;
  }

  .cabecalho_logo {
    margin-left: 1em;
  }

  .cabecalho_nav_link {
    color: var(--primary-color);
    margin: 0 .25em;
  }

  .cabecalho_nav_link:hover {
    background-color: initial;
  }

  .heroBanner {
    background-color: var(--primary-color);
  }

  .heroBanner_title, .heroBanner_subtitle {
    color: white;
  }

  .heroBanner_iconPlay {
    display: block;
    margin: auto;
  }

  .col-md-6 {
    width: calc(50% - var(--default-gap));
  }
}

/* lg */
@media screen and (min-width: 60em){
  .heroBanner {
    background-image: url(../images/bg_topo_1198x670.jpg);
    aspect-ratio: 1198 / 670;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .heroBanner .maxWidth {
    margin: initial;
    margin-bottom: 3em;
    width: 75%;
  }
}

/* xl */
@media screen and (min-width: 75em) {
  .heroBanner {
    background-image: linear-gradient(transparent, var(--primary-color)), url(../images/bg_topo_1600x1374.jpg);
    background-position: center top;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    max-height: 80vh;
    width: 100%;
  }

  .heroBanner .maxWidth {
    width: 50%;
  }

  .heroBanner_iconPlay {
    width: 7em;
    height: 7em;
  }

  .heroBanner_title, .heroBanner_subtitle {
    text-shadow: 2px 2px 2px rgb(0 0 0 / .5);
  }

  .col-xl-3 {
    width: calc(25% - var(--default-gap));
  }

  .col-xl-6 {
    width: calc(50% - var(--default-gap));
  }
}